<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <p class="lead">
          <% if (loggedIn) { %>
              <h2> Hello, <%= currentUser.firstName %>! </h2>
          <% } %>    
          <!-- USER PROFILE -->
              <%= currentUser.email %> | User Id: <%= currentUser._id %>
              <br><%= currentUser.location %>
              <br><%= currentUser.skillLevel %>
              <br>Completed Local Hikes: <%= currentUser.hikes.name %>    
          </p>
    </div>
    
    <div class="hikeContainer">
        <div class="row"> 
          
        </div>
    </div>
    