<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">
      <% if (loggedIn) { %>
          <h2> Hello, <%= currentUser.firstName %>! </h2>
      <% } %>    
      <!-- USER PROFILE -->
          <p><%= currentUser.email %> | User Id: <%= currentUser._id %> </p>
          <h5>Home Base: <%= currentUser.location %></h5>
          <h5>Hiking Skill Level: <%= currentUser.skillLevel %></h5>
          <h5>Completed Local Hikes:</h5>
          <ul>
              <% user.hikes.forEach( i => { %>
              <li><p class="hikeObj"><a href="<%= i.trailUrl %>" target="_blank"> <%= i.name %></a></p></li>
              <% }) %>
          </ul>
      </p>
</div>

<div class="hikeContainer">
    <div class="row"> 
      
    </div>
</div>









<!-- <div class="container">
    <div class="row">
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="w-100"></div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="w-100"></div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="w-100"></div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="w-100"></div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
      <div class="col hike">
        <h4>Hike:</h4>
        <p class="hikeInfo">Info</p>
      </div>
    </div>
  </div>
</div> -->

