<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
        <% if (loggedIn) { %>
            <h1> Success, <%= user.firstName %> you're logged in! %> </h1>
        <% } %>    
      <!-- USER PROFILE -->
            <%= user.email %> | User Id: <%= user._id %>
            <br><%= user.location %>
            <br><%= user.skillLevel %>
            
            
        </p>
</div>
</div>
