<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">
      <% if (loggedIn) { %>
          <h2> Hello, <%= user.firstName %>!%> </h2>
      <% } %>    
      <!-- USER PROFILE -->
          <%= user.email %> | User Id: <%= user._id %>
          <br><%= user.location %>
          <br><%= user.skillLevel %>
          <br>Completed Local Hikes: <%= user.hikes%>    
      </p>
</div>
</div>

