<!DOCTYPE html>
<html lang="en">
<head>
        <script src="../js/map.js"></script>    
</head>
<body>

<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        
        <h1>GWH City Slicker Challenge</h1> 
        <h3>Hike List: Spring 2019</h3>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div id="map">
                        
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="info">
                        <p class="list">
                                <% hikes.forEach( i => { %>
                                    <h4 class="hikeObj"><%= i.name %> </h4>
                                    <p><%= i.length %> miles </p>
                                    <p><%= i.location %> </p>
                                    <p><%= i.latitude %> </p>
                                    <p><%= i.longitude %> </p>
                                    <p class="hikeEndObj"><a href="<%= i.trailUrl %>"></a></p>
                                    <form method="post" action="/users/profile?_method=PATCH">
                                        <button type="patch" class="btn-sm btn-success addUser col-2" name="addUser">
                                            Completed
                                            
                                        </button>
                                    </form>
                                    <form method="post" action="/users/profile?_method=PATCH">
                                        <button type="patch" class="btn-sm btn-danger removeUser col-2" name="removeUser">Not Completed</button>
                                    </form>
                                <% }) %>
                        </p>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>