

<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        
        <h1>Hikes near Los Angeles, CA</h1>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div id="map">
                        
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="info">
                        <p class="lead">
                        <% if (trails) { %>
                            <% trails.forEach( i => { %>
                                <h4><%= i.name %> </h4>
                                <p><%= i.length %> miles </p>
                                <p><%= i.location %> </p>
                                <p><%= i.latitude %> </p>
                                <p><%= i.longitude %> </p>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" data-text-swap="Complete">
                                        Incomplete
                                </button>
                        <% })} %>
                        </p>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    